{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "components": "./components",
            "containers": "./containers",
            "queries": "./graphql/queries"
          }
        }]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "components": "./components",
            "containers": "./containers",
            "pages": "./pages",
            "queries": "./graphql/queries"
          }
        }]
      ]
    },
    "test": {
      "presets": ["react", "env", "stage-0"],
      "plugins": [
        "require-context-hook",
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "components": "./components",
            "containers": "./containers",
            "pages": "./pages",
            "queries": "./graphql/queries"
          }
        }]
      ]
    }
  }
}
