{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "components": "./components",
        "containers": "./containers",
        "pages": "./pages",
        "queries": "./graphql/queries"
      }
    }]
  ]
}